body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

#matriz-ionica {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    position: relative;
}

#matriz-ionica td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
}

#matriz-ionica.toggled-blur td:not(.selected) {
    filter: blur(5px); /* Aplicar el efecto borroso a todas menos la seleccionada */
    pointer-events: none;
}

#matriz-ionica td.selected {
    background-color: #6260c4;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Tamaño del cuadro */
    height: 250px; /* Tamaño del cuadro */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Tamaño del texto */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
