body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

#matriz-ionica {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    position: relative;
}

#matriz-ionica td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
}

#matriz-ionica td.selected {
    background-color: #d0f0d0;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Tama침o del cuadro */
    height: 200px; /* Tama침o del cuadro */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; /* Tama침o del texto */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer; /* Actuar como bot칩n */
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

#matriz-ionica td.ion-row,
#matriz-ionica td.ion-column {
    background-color: #f0f0f0;
    cursor: default;
}

.hidden {
    display: none;
}
